.container {
	padding:0px;
}

.test {
	border-style:solid;
	border-width:1px;
	border-color:red;
}

.no-padding{
	padding:0px;
}

.no-margin {
	margin:0px;
}

.sharp-edge {
	border-radius:0px;
}

.glyphicon.glyphicon-list {
    font-size: 20px;
}

.navbar {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.page-border{
	border-style: solid;
    border-width: 1px;
}

.left-border {
    border-left: solid 1px;
	border-color: rgb(30,50,60);
}

.right-border {
    border-right: solid 1px;
	border-color: rgb(30,50,60);
}

.top-border {
    border-top: solid 1px;
	border-color: rgb(30,50,60);
}

.bottom-border {
    border-bottom: solid 1px;
	border-color: rgb(30,50,60);
}

.text-center{
	text-align:center;
}

.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 
}

.list-group  {
    cursor: pointer;
}

.pointable {
	cursor: pointer;
}

.pointable-default {
	cursor: default;
}

.separator {
	margin-top:20px;
	margin-bottom:15px;
	margin-right:10px;
    border-style: solid;
    border-width: 1px;
	border-color: #DCDCDC;
}

.btn.disabled, .btn[disabled] {
	cursor: default;
}

.container-border {
	-webkit-box-shadow: 0px 0px 21px 1px rgba(33,51,68,1);
	-moz-box-shadow: 0px 0px 21px 1px rgba(33,51,68,1);
	box-shadow: 0px 0px 21px 1px rgba(33,51,68,1);
}

.top-border {
	border-style: solid;
    border-width: 3px;
	border-color: rgb(40,50,70);
	border-top-style: solid;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}

.navbar-colour {
	background-color: rgb(40,60,80);
	-webkit-box-shadow: 0px 0px 21px 1px rgba(33,51,68,1);
	-moz-box-shadow: 0px 0px 21px 1px rgba(33,51,68,1);
	box-shadow: 0px 0px 21px 1px rgba(33,51,68,1);
}

.navbar-colour h2 {
	color: rgb(255,255,255);
}

.btnColour {
	background-color: rgb(40,60,80);
}

.btnColour h3{
	color: rgb(255,255,255);
}

.btnBorder {
	border-style: solid;
	border-width: 3px;
	border-color: rgb(35,51,70);
}

.menu-options i{
	line-height: 80px;
}

.list-group-item {
	background-color:rgb(40,60,80);
	border-color: rgb(30,50,60);
	border-top-style: solid;
    border-right-width: 0px;
    border-left-width: 0px;
}

.list-group-item:first-child {
	border-top-style: none;
	border-radius:0px;
}

.list-group-item:last-child {
	border-radius:0px;
	margin-bottom: 0;
}

.list-group-colour {
	background-color:rgb(40,60,80);
}

.list-group-colour h2, h4{
	color:rgb(255,255,255);
	font-weight: bold;
}

.item-colour  {
	color:rgb(255,255,255);
	font-weight: bold;
}

.active-list {
	background-color:rgb(80,160,130);
}

.btn{
	color:rgb(255,255,255);
	font-weight: bold;
	background-color:rgb(80,160,130);
	border-color:rgb(80,160,130);
}

.btn:hover{
	background-color:rgb(60,120,120);
	border-color:rgb(60,120,120);
}

.btn:active{
	background-color:rgb(60,120,120);
	border-color:rgb(60,120,120);
}

.disabled, .btn:focus{
	background-color:rgb(80,100,120);
	border-color:rgb(80,100,120);
}