body {
	overflow-x:hidden;
}

.right-border {
	padding-right: 183px;
	border-right: solid black;
	border-width: 2px;
}

.left-border {
	border-left: solid black;
	border-width: 2px;
}

.center-text {
	text-align:middle;
}

.sharp-border {
	border-radius: 0px;
}

.no-padding {
	padding: 0px;
}

.no-margin {
	margin: 0px;
}

.navbar-fixed-top {
    min-height: 70px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
}

.floor-plan {
	max-width:1053px;
	max-height:745px;
}