body {
	overflow-x: hidden
}

.container {
	padding:0px;
}

.no-padding{
	padding:0px;
}

.no-margin {
	margin:0px;
}

.sharp-edge {
	border-radius:0px;
}

.glyphicon.glyphicon-list {
    font-size: 20px;
}

.navbar {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.page-border{
	border-style: solid;
    border-width: 1px;
}

.list-group-item:last-child {
	margin-bottom: 0;
}

.left-border {
    border-left: solid 1px black;
}

.right-border {
    border-right: solid 1px black;
}

.top-border {
    border-top: solid 1px black;
}

.bottom-border {
    border-bottom: solid 1px black;
}

.text-center{
	text-align:center;
}



.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 
}

.panel-heading {
    cursor: pointer;
}

.separator {
	margin-top:20px;
	margin-bottom:15px;
	margin-right:10px;
    border-style: solid;
    border-width: 1px;
	border-color: #DCDCDC;
}

.active-button {
	-webkit-box-shadow: 0px 0px 20px 5px rgba(70,143,110,1);
	-moz-box-shadow: 0px 0px 20px 5px rgba(70,143,110,1);
	box-shadow: 0px 0px 20px 5px rgba(70,143,110,1);
}